*{
    box-sizing: border-box;
}
body{
    /*background: #28ABE3;*/
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: "Roboto", Verdana;
    font-weight: 300;
}
h1{
    font-weight: 300;
    font-size: 26px;
}
.container{
   /* max-width: 960px;
    margin: 0 auto;*/
}
.container:before{
    content: "";
    display: block;
    background: #000;
    opacity: 0.5;
    position: absolute;
}

.city{
    background:rgba(80,66,49,0.8);
    padding: 15px 10px 15px 15px;
    text-align: center;
}
.city .input-city{
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 3px 0 0 3px;
    padding: 10px;    
    display: inline;
}
.city .btn{
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 0 3px 3px 0;
    display: inline;
}

.day{
    width: 240px;
    height: 300px;
    padding: 30px;
    float: left;
    margin: 15px;
    background: rgba(80,66,49,0.8);
}
.day .date{
    font-size: 25px;
    margin-bottom: 30px;
}
.day .weather-icon{
    text-align: center;  
}
.day .weather-icon i{
    font-size: 70px;
    margin-bottom: 30px;
}
.day .temperature{
    font-size: 25px;
    margin-bottom: 10px;
}
.day .main-info{
    margin-bottom: 10px;
}
.day .humidity i{
    font-size: 10px;
}